.contentIncommingLine {
  .nna {
    .objectionsNNA {
      .objectionNNAbtn {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        padding-bottom: 30px;
      }
    }

    .root {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
      padding-top: 20px;
      .rootBtn {
        display: flex;
        gap: 20px;
      }
    }
  }
  .collection {
    .objectionsCollection {
      .objectionsCollectionBtn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding-bottom: 30px;
      }
    }
    &-reserve {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .root {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
      padding-top: 20px;
      .rootBtn {
        display: flex;
        gap: 20px;
      }
    }
  }

  .title {
    text-align: center;
    margin: 0;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .greetings {
    text-align: center;
    padding-bottom: 20px;
  }
}
